:root {
  --physical-color: #ccc;
  --anemo-color: #80ffd7;
  --cryo-color: #5cffff;
  --dendro-color: #13eea2;
  --electro-color: #ffacff;
  --geo-color: #ffe699;
  --hydro-color: #80c0ff;
  --pyro-color: #ff9999;

  --background-color: #25294a;
}

body {
  font-family: 'Poppins', 'Noto Sans Serif SC', sans-serif;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: #fff;
}

table {
  margin: 0 auto;
  min-width: max-content;
  text-align: center;
  /* letter-spacing: 1px; */
  background-color: var(--background-color)
}

caption {
  font-family: 'Poppins', 'Noto Serif SC', serif;
  font-size: 4rem;
  font-weight: 900;
  position: relative;
}

thead {
  font-family: 'Noto Serif SC', serif;
  font-size: 2.2rem;
  font-weight: 900;
}

tbody {
  font-size: 1.5rem;
  font-weight: 700;
}

tfoot,
table,
th,
td {
  border: 1.5px solid #fff;
  border-left: 1.5px;
  border-right: 1.5px;
  border-collapse: collapse;
  padding: 0.2rem;
}

caption>span {
  /* position: absolute; */
  padding-left: .5em;
}


th {
  border-top-width: 8px;
  border-bottom-width: 4px;
  padding: .6rem;
}

/* tbody tr:first-child {
  border-top: 4px solid white;
} */

tfoot td {
  font-family: 'Poppins', 'Noto Sans Serif SC', sans-serif;
  padding: .5rem 0;
  border-top-width: 4px;
  border-bottom-width: 8px;
}

a {
  font-family: 'Poppins';
  color: white;
  text-decoration: none;
}

.race {
  width: 6rem;
}

.electro {
  color: var(--electro-color)
}

.pyro {
  color: var(--pyro-color)
}

.hydro {
  color: var(--hydro-color)
}

.cryo {
  color: var(--cryo-color)
}

.anemo {
  color: var(--anemo-color)
}

.geo {
  color: var(--geo-color)
}

.dendro {
  color: var(--dendro-color);
}

.physical {
  color: var(--physical-color);
}

td.correspond,
td.electro,
td.pyro,
td.hydro,
td.cryo,
td.anemo,
td.geo,
td.dendro,
td.physical {
  font-weight: 100;
}
