table thead th:last-child,
table tbody td:last-child {
  padding-right: 0.2em;
}

table tbody .race {
  width: 4em;
  padding: 0.4em;
}

table tbody .race,
table tbody .name,
table tbody .state,
table tbody .correspond {
  font-weight: 700;
}

table tbody td.greater {
  font-weight: 400;
  font-style: italic;
}

table tbody td.minus {
  font-weight: 900;
}

table tbody td.infinity {
  padding: 0;
  margin: 0;
  font-weight: 900;
  transform: rotate(-90deg);
}

table tbody td.electro,
table tbody td.pyro,
table tbody td.hydro,
table tbody td.cryo,
table tbody td.dendro,
table tbody td.anemo,
table tbody td.geo,
table tbody td.physical,
table tbody td.correspond {
  font-size: 1.1em;
}

table .electro {
  color: var(--electro-color)
}

table .pyro {
  color: var(--pyro-color)
}

table .hydro {
  color: var(--hydro-color)
}

table .cryo {
  color: var(--cryo-color)
}

table .dendro {
  color: var(--dendro-color)
}

table .anemo {
  color: var(--anemo-color)
}

table .geo {
  color: var(--geo-color)
}

table .physical {
  color: var(--physical-color)
}
